<div class="content" *ngIf="proyecto">
    <h2 class="titulo_proyecto_resumen">{{proyecto.titulo}}</h2>
    <div class="img_resumen">
        <img [src]="proyecto.url_img_resume" alt="">
    </div>
    <p class="parrafo_resumen">{{proyecto.resumen_proyecto}}</p>
    <div class="cj_btn_resumen">
        <button class="btn_resumen" routerLink="/proyectos_descripcion">Ver resumen</button>
    </div>

    <div class="tecnologias">
        <h3 class="subtitulo_tecnologia">Tecnologias</h3>
        <div class="items_tecnologias">
            <p class="item" *ngFor="let tecnologia of tecnologias" [ngStyle]="{'background-color': tecnologia.color}">
                <img class="img_conocimientos" [src]="tecnologia.url_img" alt="">
            </p>
        </div>
    </div>
</div>


