<div class="content">
    <div class="cj_ventana">
        <div class="img_ico" *ngIf="db">
            <img class="cv_ico" [src]="db.imagenes[2]">
        </div>
        <h3 class="titulo_modal">Seguro que desea descargar el CV</h3>
        <div class="btn_opcion">
            <div (click)="cerrarVentana()" class="btn cancelar"></div>
            <a (click)="cerrarVentana()"  class="btn descargar" href="assets/pdf/Cuarriculum_vitae.pdf" download="Cuarriculum_vitae.pdf"></a>
        </div>
    </div>
</div>
