*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

.cursorPoint{
    cursor: pointer;
}
.flex_gap{
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-decoration: none;
}
#menu_activar{
    display: none;
}
.sobreMi::before{
    content: "Sobre mi";
}
.inicio::before{
    content: "Inicio";
}
.curriculumV::before{
    content: "Curriculum vitae";
}

/* Mobile */
@media screen and (max-width:925px) {
  
    nav{
        background-color: #07002c;
        display: grid;
        grid-template-columns: 1fr 7fr 1fr .5fr;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px #403e4c;
    }
    .perfil{
        display: flex;
        justify-content: center;
    }
    .imagen_perfil{
        cursor: pointer;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: solid .1rem white;
    }
    .btn{
        display: none;
    }
    .tema{
        display: flex;
        justify-content: center;
    }
    .btn_tema{
        color: white;
    }  
    .ico_menu{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: 2rem;
    }
    .btns_mobile{
        position: absolute;
        background-color: #0700299a;
        width: 100%;
        visibility: hidden; 
        z-index: 10;
    }
    #menu_activar:checked ~ .btns_mobile{
        visibility: visible;
        
    }
    .icono_menu{
        transition: transform .3s ease;
        transform: rotate(180deg);
    }
    
    .btn_mobile{
        padding: 1.5rem;
        text-align: center;
        color: white;
        border-bottom: solid 1px #2e1b60;
        cursor: pointer;
        background-color: #07002c;
        display: block;
    }
    .btn_mobile:hover{
        background-color: #2e1b60;
    }
    
    .descargar{
        width: 1.2rem;
        height: 1.2rem;
    }
    .ln{
        display: none;
    }
    .checkBtnPro{
        display: none;
    }
}

/* Escritorio */
@media screen and (min-width: 925px) {
    nav{
        background-color: #07002c;
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px #403e4c;
    }
    .perfil{
        display: flex;
        justify-content: center;
    }
    .imagen_perfil{
        cursor: pointer;
        background-size: cover;
        background-position: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: solid .1rem white;
    }
    .btns{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .btn{
        color: white;
        padding: .5rem 1rem;
        background-color: #210f53;
        box-shadow: 3px 3px #8065ca;
        border-radius: .5rem;
        cursor: pointer;
        transform: translateY(-5px) translateX(5px);
        transition: .05s;
        display: flex;
    }
    .btn:hover{
        box-shadow: none;
        transform: translateY(0px) translateX(8px);
    }
    .select_proyectos{
        color: white;
        background-color: #210f53;
        border: solid 2px #210f53;

        appearance: none; /* Estándar */
        outline: none; /* Quitar borde de enfoque */
        font-size: inherit; 
    }
    .tema{
        display: flex;
        justify-content: center;
    }
    .btn_tema{
        color: white;
    }
    .ico_menu{
        display: none;
    }
    .btns_mobile{
        display: none;
    }
    .descargar{
        width: 1.2rem;
        height: 1.2rem;
    }
    .pro::before{
        content: "Mis proyectos";
    }
    .txt_proyecto::before{
        content: "Proyectos";
    }
    .txt_proyecto_des::before{
        content: "Proyectos destacados";
    }
    .allProyectos:hover .ocultar{
        display: block;
    }
    .checkBtnPro{
        display: none;
    }
    .btn.btnPro:checked+ .ocultar{
        display: block;
    }
    .allProyectos:hover .btn.btnPro{
        box-shadow: none;
        transform: translateY(0px) translateX(8px);
    }
    .cj_pro{
        position: relative;
        width: 15rem;
    }
    .allProyectos{
        position: absolute;
        width: 100%;
    }
    .ocultar{
        color: white;
        background-color: #210f53;
        border: solid 2px #8065ca;
        border-radius: .2rem .5rem .5rem .5rem;
        transform: translateY(-5px) translateX(5px);
        transition: .05s;
        display: flex;  
        flex-direction: column;
        margin-top: .7rem;
        display: none;
        margin-left: .5rem;
        position: relative;
        z-index: 100000;
    }
    .ln{
        border-bottom: solid 1px #8065ca;
    }
    .proyectos{
        padding: .7rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
    }
    .proyectos:hover{
        background-color: #2a1367;
    }
    .flotar{
        position: fixed;
        background-color: transparent;
    }
}


