@if (db) {
  <div class="content">
    <div class="lista_proyectos">
      <h2 class="titulo_proyectos">Proyectos Destacados</h2>
      <div class="imgDefaultProyecto">
        <app-img-proyectos-destacados></app-img-proyectos-destacados>
      </div>
      <div class="linea">
        <div class="items_proyectos">
          @for (proyectoDestacado of proyectosDestacados; track proyectoDestacado) {
            <div class="item" (click)="irAlProyectoDetacado(proyectoDestacado)">
              {{proyectoDestacado.titulo}}
            </div>
          }
          @if (proyectosDestacados.length == 0) {
            <div class="cj_mj_noDisponible">
              <div class="mj_noDisponible"> No hay disponibles </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="resumen_proyecto">
      <div class="enlaces_iconos">
        @for (red of db.sobreMy.misRedes; track red) {
          <a [href]="red.urlRed" target="_blank">
            <img class="redImg" [src]="red.urlImg" alt="">
          </a>
        }
      </div>
    </div>
  </div>
}
