<nav id="nav">
    <div class="perfil" *ngIf="db">
        <img class="imagen_perfil" [src]="db.sobreMy.imgPerfil" (click)="irAHome()">
    </div>
    <div class="btns">
        <div class="btn inicio" routerLink="/home"></div>
        <div class="cj_pro">
            <div class="allProyectos">
                <label for="checkBtnPro" class="btn btnPro " style="display: flex; justify-content: center;"><div class="pro"></div></label>
                <input id="checkBtnPro" class="checkBtnPro" type="checkbox">
                <div class="ocultar">
                    <div class="proyectos txt_proyecto" routerLink="/proyectos"></div>
                    <hr class="ln">
                    <div class="proyectos txt_proyecto_des" routerLink="/proyectos_destacados"></div>
                </div>
            </div>
        </div>
        <div class="btn sobreMi" routerLink="sobre_mi"></div>
        <a (click)="abrirVentanaCV()" class="btn flex_gap" *ngIf="db">
            <img class="descargar" [src]="db.imagenes[3]">
            <p class="curriculumV"></p>
        </a>
    </div>
    <div class="tema">
        <div class="btn_tema"></div>
    </div>
    <label for="menu_activar" class="ico_menu">
        <svg id="ico_menu" class="cursorPoint" xmlns="http://www.w3.org/2000/svg" height="24px"
            viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>

    </label>
</nav>
<input type="checkbox" id="menu_activar">

<!-- Mobile -->
<div id="btns" class="btns_mobile">
    <label for="menu_activar"  class="btn_mobile" routerLink="/home">Inicio</label>
    <label for="menu_activar"  class="btn_mobile" routerLink="/proyectos_mobile">Proyectos</label>
    <label for="menu_activar"  class="btn_mobile" routerLink="/proyectos_destacados_mobile">Proyectos destacados</label>
    <label for="menu_activar"  class="btn_mobile" routerLink="/sobre_mi">Sobre mi</label>
    <label for="menu_activar"  (click)="abrirVentanaCV()" class="btn_mobile flex_gap">
        <div class="flex_gap" *ngIf="db">
            <img class="descargar" [src]="db.imagenes[3]">
            <p>CV</p>
        </div>
    </label>
</div>
<app-descarga-curriculum-modal *ngIf="visibilidadVentana" (eventoCerrar)="cerrarVentanaCV()"></app-descarga-curriculum-modal>
<router-outlet></router-outlet>