* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

/* Escritorio */
@media screen and (min-width:792px) {
    .content {
        width: 90%;
        margin: auto;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        gap: 4rem;
        margin-bottom: 6rem;
    
    }
    
    .enlaces_iconos{
        margin-top: 3rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: start;
        gap: 1rem;
    }
    .redImg{
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-size: cover;
    }
    
    .titulo_proyectos {
        margin-bottom: 2rem;
        font-size: 2.1rem;
        font-weight: bold;
        color: #b84afc;
    }
    
    .linea {
        border-bottom: solid 2px rgba(255, 255, 255, 0.303);
        border-top: solid 2px rgba(255, 255, 255, 0.303);
        animation: proyectos .5s ease;
    }    
    @keyframes proyectos {
        0% {
          transform: translateX(-5rem);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    
    .items_proyectos {
        padding: .7rem 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        overflow-y: scroll;
        height: 60vh;
        padding-left: 1rem;
        direction: rtl;
    }
    
    .items_proyectos::-webkit-scrollbar {
        width: 4px;
    }
    
    .items_proyectos::-webkit-scrollbar-track {
        background: #05001d;
        border-radius: 10px;
    }
    
    .items_proyectos::-webkit-scrollbar-thumb {
        background-color: #ffffff29;
        border-radius: 10px;
    }
    
    .items_proyectos::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .item {
        background-color: #1f074e;
        padding: 1.3rem;
        border-radius: .5rem;
        border: solid 2px #493278;
        cursor: pointer;
        text-align: left;
    }    
    .item:hover {
        background-color: #3f2260;
        border: solid 2px #753db5;
    }
    .resumen_proyecto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cj_resumen{
        width: 90%;
        margin-bottom: 4rem;
    }
    .cj_mj_noDisponible{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mj_noDisponible{
        color: #ffffff;
        background-color: #b70d73;
        padding: 1rem;
        font-size: 1.1rem;
        text-align: center;
    }
}

/* Mobil */
@media screen and (max-width:792px) {
    .content {
        width: 90%;
        margin: auto;
        margin-top: 3rem;
    
    }
    
    .items_proyectos {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .items_proyectos::-webkit-scrollbar {
        width: 4px;
    }
    
    .items_proyectos::-webkit-scrollbar-track {
        background: #05001d;
        border-radius: 10px;
    }
    
    .items_proyectos::-webkit-scrollbar-thumb {
        background-color: #ffffff29;
        border-radius: 10px;
    }
    
    .items_proyectos::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    .item {
        background-color: #1f074e;
        padding: 1.3rem;
        border-radius: .5rem;
        border: solid 2px #493278;
        cursor: pointer;
        text-align: left;
    }
    
    .item:hover {
        background-color: #3f2260;
        border: solid 2px #753db5;
    }
    .cj_resumen{
        display: none;
    }
    .titulo_proyectos {
        margin-bottom: 3rem;
        font-size: 1.9rem;
        font-weight: bold;
        color: #b84afc;
        text-align: center;
    }
    
    .enlaces_iconos {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 1rem;
        margin-top: 7rem;
        margin-bottom: 5rem;
    }
    
    .github {
        background-image: url("/imgs/github-64.png");
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-size: cover;
    }
    
    .linkedin {
        background-image: url("/imgs/linkedin-50.png");
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-size: cover;
    }
}