@if (db) {
  <article class="contenido">
    <div class="cj_cuadricula" >
      <div class="cj_contenido_txt">
        <img class="img_hola" [src]="db.imagenes[8]">
        <div class="cj_contenido">
          @for (habilidad of db.bienvenida.habilidades; track habilidad) {
            <div class="txt_conocimiento">
              {{habilidad}}
            </div>
          }
        </div>
        @for (parrafo of db.bienvenida.infoBienvenida; track parrafo) {
          <div class="txt_bienvenida_p">
            {{parrafo}}
          </div>
        }
      </div>
      <div class="cj_imagen">
        <img class="img_dev" [src]="db.imagenes[6]">
      </div>
    </div>
    <div class="enlaces_iconos">
      @for (red of db.sobreMy.misRedes; track red) {
        <a [href]="red.urlRed" target="_blank">
          <img class="redImg" [src]="red.urlImg" alt="">
        </a>
      }
    </div>
  </article>
}