<div class="content" *ngIf="db">
    <div class="proyecto_descripcion">
        <div class="cj-proyectos">
            <h2 class="titulo_proyectos">Proyecto Destacado</h2>
            <h2 class="titulo_proyecto_resumen">{{proyectoDestacado.titulo}}</h2>
        </div>

        <div class="parrafo_resumen">
            <p class="parrafo" *ngFor="let parrafo of proyectoDestacado.informacion_proyecto"  [innerHTML]="parrafo.parrafo"></p>
        </div>

        <div class="tecnologias">
            <h3 class="subtitulo_tecnologia">Tecnologias</h3>
            <div class="items_tecnologias">
                <a class="item" [ngStyle]="{'background-color': tecnologia.color}" *ngFor="let tecnologia of proyectoDestacado.tecnologias">
                    <img class="img_tecnologia" [src]="tecnologia.url_img" alt="">
                </a>
            </div>
        </div>

        <div class="escritorio colaboradores" *ngIf="proyectoDestacado.colaboradores.length">
            <h3 class="subtitulo_colaboradores">Colaboradores</h3>
            <div class="lista_colaboradores">
                <div class="colaborador" *ngFor="let item of proyectoDestacado.colaboradores">
                    <img class="img_col_perfil" [src]="item.url_img_perfil" alt="">
                    <div class="nombre_col">{{item.nombre }} {{item.apellido }}</div> 
                </div>
            </div>
        </div>

        <div class="enlaces_iconos">
            <a [href]="red.urlRed" *ngFor="let red of db.sobreMy.misRedes" target="_blank">
                <img class="redImg" [src]="red.urlImg" alt="">
            </a>
        </div>
    </div>

    <div class="escritorio cj_multimedia">
        <div class="btns-multimedia">
            @if(proyectoDestacado?.urls_videos?.length > 0){
                <button [ngClass]="viewImgs ? 'btn_imgs btn_imgs_clic' : 'btn_imgs'" (click)="clickimgs()">Imagenes</button>
                <button [ngClass]="viewVideo ? 'btn_video btn_video_clic' : 'btn_video'" (click)="clickVideo()">Video</button>
            }
        </div>
        <div class="imgs_proyectos">
            @if(viewImgs){
                <div>
                    @for (imagen of proyectoDestacado.urls_imagenes; track $index){
                        <a class="img_link_proyecto" [href]="imagen.url" target="_blank"> 
                            <img class="img_proyecto" [src]="imagen.url" alt="">
                        </a>
                    }
                    <div style="height: 8rem;"></div>
                </div>
            }

            @if(viewVideo){
                <div class="cj_ls_video">
                    @for (url_video of proyectoDestacado?.urls_videos; track $index) {
                        <app-video [urlVideo]="url_video.url" width="100%" height="250"></app-video>
                    }
                    <div style="height: 8rem;"></div>
                </div>
            }
        </div>
    </div>
</div>

<div *ngIf="db">
    <!-- Mobile  -->
    <div class="mobile">
        <div class="btns-multimedia">
            @if(proyectoDestacado?.urls_videos?.length > 0){
                <button [ngClass]="viewImgs ? 'btn_imgs btn_imgs_clic' : 'btn_imgs'" (click)="clickimgs()">Imagenes</button>
                <button [ngClass]="viewVideo ? 'btn_video btn_video_clic' : 'btn_video'" (click)="clickVideo()">Video</button>
            }
        </div>
        <div class="cj_video">
            <div class="bordes_video ln_right"></div>
            <div class="video_flex">
                <div class="imgs_proyectos" [ngStyle]="{ 'height':  viewVideo ? '' : '13rem'}">
                    @if(viewImgs){
                        @for (imagen of proyectoDestacado.urls_imagenes; track $index){
                            <a target="_blank" class="img_link_proyecto" [href]="imagen.url">
                                <img alt="" class="img_proyecto" [src]="imagen.url">
                            </a>
                        }
                    }
                
                    @if(viewVideo){
                        <div class="cj_ls_video">
                            @for (url_video of proyectoDestacado?.urls_videos; track $index) {
                                <app-video [urlVideo]="url_video.url" width="300" height="180"></app-video>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="bordes_video ln_left"></div>
        </div>

        <div class="content">
            <div class="tecnologias_mobile">
                <h3 class="subtitulo_tecnologia">Tecnologías</h3>
                <div class="items_tecnologias">
                    <a class="item" [ngStyle]="{'background-color': tecnologia.color}" *ngFor="let tecnologia of proyectoDestacado.tecnologias">
                        <img class="img_tecnologia" [src]="tecnologia.url_img" alt="">
                    </a>
                </div>
            </div>

            <div class="colaboradores_mobile" *ngIf="proyectoDestacado.colaboradores.length">
            <h3 class="subtitulo_colaboradores">Colaboradores</h3>

            <div class="cj_colaboradores">
                <div class="colaborador" *ngFor="let item of proyectoDestacado.colaboradores">
                    <img
                    alt=""
                    class="perfil_img_c"
                    [src]="item.url_img_perfil" 
                    />
                    <div class="nombreCompleto_c">{{item.nombre }} {{item.apellido }}</div>
                </div>
            </div>
            </div>

            <div class="enlaces_iconos_mobile">
                <a [href]="red.urlRed" *ngFor="let red of db.sobreMy.misRedes" target="_blank">
                    <img class="redImg" [src]="red.urlImg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>