<div class="content">
  @if (db) {
    <div class="lista_proyectos">
      <h2 class="titulo_proyectos">Proyectos Destacados</h2>

        <div class="items_proyectos">
          @for (proyectoDestacado of proyectosDestacados; track proyectoDestacado) {
            <div class="item" (click)="cargarComponente(proyectoDestacado)">
              {{proyectoDestacado.titulo}}
              <div class="item_sub_tec">
                @for (tecnologia of proyectoDestacado.tecnologias; track tecnologia) {
                  <p class="item_tec" [ngStyle]="{'background-color': tecnologia.color}">
                    <img class="img_conocimientos" [src]="tecnologia.url_img" alt="">
                  </p>
                }
              </div>
            </div>
          }
          @if (db?.proyectos.length == 0) {
            <div class="cj_mj_noDisponible">
              <div class="mj_noDisponible"> No hay disponibles </div>
            </div>
          }
        </div>

    </div>
  }
  <div class="resumen_proyecto">
    @if(isImgProyectosActive){
      <app-img-proyectos></app-img-proyectos>
    }
    <div class="cj_resumen" #proyectoDestacadoResumen>
      <router-outlet></router-outlet>
    </div>

    @if (db) {
      <div class="enlaces_iconos">
        @for (red of db.sobreMy.misRedes; track red) {
          <a [href]="red.urlRed" target="_blank">
            <img class="redImg" [src]="red.urlImg" alt="">
          </a>
        }
      </div>
    }
  </div>
</div>
