* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

/* Escritorio */
@media screen and (min-width:931px) {
    .content{
        margin-left: 4rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 10rem;
    }
    .parrafo{
        margin-bottom: 2rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    .titulo_proyecto_resumen{
        color: #7e9fe6;
        padding-bottom: 1rem;
        font-size: 2.1rem;
    }
    .cj-proyectos{
        padding-top: 3rem;
    }
    .titulo_proyectos {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #b84afc;
    }
    .subtitulo_tecnologia{
        color: #7e9fe6;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .lista_colaboradores{
       display: flex;
       flex-direction: column;
       gap: .5rem;
    }
    .nombre_col{
        color: #ffffffc5;
    }
    .colaborador{
        background-color: #ffffff0c;
        padding: .7rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: .5rem;
        color: #ffffffc5;
        transition: .3s ease;
        width: 90%;
    }
    .colaborador:hover{
        transform: translateX(10px);
    }
    .img_col_perfil{
        width: 2rem;
        border-radius: 50%;
    }
    .subtitulo_colaboradores{
        color: #7e9fe6;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .parrafo_resumen{
        color: #ffffffab;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    .items_tecnologias{
        display: flex;
        justify-content: start;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .item{
        padding: .2rem 1rem;
        border-radius: .3rem;
        font-weight: bold;
    }
    .item:hover{
        animation: tecnologia;
        animation-duration: 1s;
    }

    @keyframes tecnologia {
        0%{
            transform: rotate(7deg) translateY(-5px);
        }
        15%{
            transform: rotate(-7deg) translateY(-5px);
        }
        30%{
            transform: rotate(5deg);
        }
        45%{
            transform: rotate(-5deg);
        }
        55%{
            transform: rotate(3deg);
        }
        70%{
            transform: rotate(-3deg);
        }
        85%{
            transform: rotate(2deg);
        }
        100%{
            transform: rotate(-2deg);
        }
    }
    .proyecto_descripcion{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        animation: proyecto_descripcion .5s ease;
        height: 87vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    @keyframes proyecto_descripcion {
        0%{
            right: 10%;
            opacity: 0;
        }
        100%{
            right: 0;
            opacity: 1;
        }
    }
    .tecnologias{
        margin-bottom: 2rem;
    }
    .enlaces_iconos {
        margin-top: 3rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: start;
        gap: 1rem;
    }
    .redImg{
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-size: cover;
    }
    .enlaces_iconos_mobile{
        display: none;
    }
    .imgs_proyectos{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        position: relative;
        animation: imgs_proyectos .5s ease;
        padding-top: 3rem;
        scrollbar-width: none;
        background-color: #ffffff0a;
        padding: 2rem;
        height: 100%;
        border: solid 1px #ffffff33;
        border-radius: 1rem 1rem .3rem .3rem;
        margin-right: 2rem;
    }
    @keyframes imgs_proyectos {
        0%{
            right: -10%;
            opacity: 0;
        }
        100%{
            right: 0;
            opacity: 1;
        }
    }
    .imgs_proyectos::-webkit-scrollbar{
        width: 5px;
    }
    .imgs_proyectos::-webkit-scrollbar-track{
        background-color: #05001d;
    }
    .imgs_proyectos::-webkit-scrollbar-thumb{
        background-color: #ffffff4f;
        border-radius: 1rem;
    }
    .img_proyecto{
        width: 100%;
        border-radius: .5rem;
        margin: .5rem 0;
        cursor: pointer;
        border: solid 2px #ffffff50;;
    }
    .img_tecnologia{
        width: 3rem;
    }
    .btns-multimedia{
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
        margin-right: 2rem;
        position: relative;
        animation: imgs_proyectos .5s ease;
    }
    .btns-multimedia > button{
        width: 100%;
        border-radius: .5rem;
        padding: .7rem 1rem;
        cursor: pointer ;
    }
    .cj_multimedia{
        height: 87vh;
        overflow: hidden;
    }
    .btn_imgs{
        border: none;
        background-color: #4a0f98;
        border-bottom: solid 2px #4a0f98
    }

    .btn_imgs_clic{
        border-bottom: solid 2px #b27cf8
    }
    .btn_video{
        border: none;
        background-color: #4a0f98;
        border-bottom: solid 2px #4a0f98
    }
    .btn_video_clic{
        border-bottom: solid 2px #b27cf8
    }
    .cj_ls_video{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mobile{
        display: none;
    }
}

/* Mobil */
@media screen and (max-width:931px) {
    .content{
        width: 90%;
        margin: auto;
        margin-top: 3rem;
    }
    .proyecto_descripcion{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2.5rem;
        text-align: start;
    }
    .titulo_proyecto_resumen{
        color: #7e9fe6;
        padding-bottom: 1rem;
        font-size: 2.1rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0.507);
    }
    .titulo_proyectos {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #b84afc;
    }
    .subtitulo_tecnologia{
        color: #7e9fe6;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .subtitulo_colaboradores{
        color: #7e9fe6;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .parrafo_resumen{
        color: #ffffffab;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    .items_tecnologias{
        display: flex;
        justify-content: start;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .item{
        padding: .5rem 1rem;
        border-radius: .3rem;
        font-weight: bold;
    }
    .item:hover{
        animation: tecnologia;
        animation-duration: 1s;
    }

    @keyframes tecnologia {
        0%{
            transform: rotate(7deg) translateY(-5px);
        }
        15%{
            transform: rotate(-7deg) translateY(-5px);
        }
        30%{
            transform: rotate(5deg);
        }
        45%{
            transform: rotate(-5deg);
        }
        55%{
            transform: rotate(3deg);
        }
        70%{
            transform: rotate(-3deg);
        }
        85%{
            transform: rotate(2deg);
        }
        100%{
            transform: rotate(-2deg);
        }
    }
    .imgs_proyectos{
        display: flex;
        overflow-x: scroll;
        padding-right: 1rem;
        width: 100%;
    }
    .imgs_proyectos::-webkit-scrollbar{
        display: none;
    }
    .img_proyecto{
       height: 100%;
       border-radius: .5rem;
       border: solid 2px #ffffff50;;
    }
    .img_link_proyecto{
        border-radius: 1rem;
        margin: .5rem;
        cursor: pointer; 
    }
    .enlaces_iconos {
        display: none;
    }
    .enlaces_iconos_mobile{
        margin-top: 3rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .redImg{
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-size: cover;
    }
    .img_tecnologia{
        width: 2rem;
    }
    .parrafo{
        margin-bottom: 2rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    .btn_imgs{
        border: none;
        background-color: #4a0f98;
        border-bottom: solid 2px #4a0f98
    }
    .btn_imgs_clic{
        border-bottom: solid 2px #b27cf8
    }
    .btn_video{
        border: none;
        background-color: #4a0f98;
        border-bottom: solid 2px #4a0f98
    }
    .btn_video_clic{
        border-bottom: solid 2px #b27cf8
    }
    .btns-multimedia{
        display: flex;
        gap: 1rem;
        width: 90%;
        padding: 1rem 0;
        margin: auto;
    }
    .btns-multimedia > button{
        width: 100%;
        border-radius: .5rem;
        padding: .7rem 1rem;
        cursor: pointer ;
    }
    .cj_ls_video{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0 .5rem;
    }
    .cj_video{
        display: flex;
        height: 15rem;
    }
    .bordes_video{
        width: .5rem;
        background-color: #ffffff4f;
    }
    .ln_right{
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .ln_left{
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }
    .video_flex{
        width: 97%;
        display: flex;
        align-items: center;
    }
    .escritorio{
        display: none;
    }
    .tecnologias{
        display: none;
    }
    .cj_imgConocimiento{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cj_colaboradores{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .colaborador{
        padding: .5rem 2rem .5rem .5rem;
        display: flex;
        justify-content: start;
        gap: 1rem;
        align-items: center;
        transition: .2s;
        font-size: .8rem;
        border-bottom: solid 1px rgba(255, 255, 255, .292);
    }
    .perfil_img_c{
        border-radius: 50%;
        font-weight: 700;
        width: 2rem;
    }
    .nombreCompleto_c{
        color: #ffffffc5;
    }
    .tecnologias_mobile{
        color: #fff;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Jura, sans-serif;
    }
    .colaboradores_mobile{
        margin-top: 3rem;
    }
}