.imgDefault{
    background-image: url("/imgs/dev_proyectos_destacados.png");
    background-size: cover;
    background-position: center center;
    animation-name: imgDefault;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
    
@keyframes imgDefault {
    0%{
        transform: translateY(.2rem);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(.2rem);
    }
}

@media screen and (min-width: 553px) {
    .imgDefault{
        height: 18rem;
        width: 32rem;
    }
}

@media screen and (max-width: 553px) {
    .imgDefault{
        height: 11rem;
        width: 20rem;
    }
}