* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

/* Mobil */

.content {
    width: 90%;
    margin: auto;
    margin-top: 3rem;

}

.items_proyectos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    animation: items_proyectos 1.1s ease;
}

@keyframes items_proyectos {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.items_proyectos::-webkit-scrollbar {
    width: 4px;
}

.items_proyectos::-webkit-scrollbar-track {
    background: #05001d;
    border-radius: 10px;
}

.items_proyectos::-webkit-scrollbar-thumb {
    background-color: #ffffff29;
    border-radius: 10px;
}

.items_proyectos::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.item {
    background-color: #1f074e;
    padding: 1.3rem;
    border-radius: .5rem;
    border: solid 2px #493278;
    cursor: pointer;
    text-align: left;
}

.item:hover {
    background-color: #3f2260;
    border: solid 2px #753db5;
}

.titulo_proyectos {
    margin-bottom: 3rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: #b84afc;
    text-align: center;
}

.enlaces_iconos {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.redImg {
    width: 2rem;
    height: 2rem;
    background-position: center center;
    background-size: cover;
}

.imgDefaultProyecto {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    width: 100%;
}

.cj_mj_noDisponible{
    display: flex;
    justify-content: center;
}
.mj_noDisponible{
    color: #ffffff;
    background-color: #b70d73;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
}