
:root {
  /* ================== TEMA CLARO ================== */
  /* Nav */

  /* Escritorio */
  --color-fondo-nav-dark: #07002c;
  --color-ln-bottom-nav-dark: #403e4c;

  --color-fondo-btn-nav-dark: #210F53;
  --color-linea-btn-nav-dark: #8065ca;
  --color-txt-btn-nav-dark: #fff;

  --color-img-ln-nav-dark: #fff;

  --color-menuFlotante-txt-nav-dark: #fff;
  --color-menuFlotante-fondo-nav-dark: #210f53;
  --color-menuFlotante-fondoHOVER-nav-dark: #2a1367;
  --color-menuFlotante-ln-nav-dark: #8065ca;
  --color-menuFlotante-btnLn-bottom-nav-dark: #8065ca;

}

body{
    background-color: #05001d;
    color: #ffffff;
    margin: 0;
    padding: 0;
}