:tema_claro{
    --tema_claro_fondo: #ffffff;
    --tema_claro_letra: #000000; 
}

:tema_azul{
    --tema_azul_fondo: #07002c;
    --tema_azul_letra: #ffffff; 
}

body{
    background-color: #05001d;
    color: #ffffff;
    margin: 0;
    padding: 0;
}