<article class="contenido" *ngIf="db">
    <div class="cj_cuadricula" >
        <div class="cj_contenido_txt">
            <div class="img_hola"></div>
            <div class="txt_conocimiento">{{db.bienvenida.habilidad}}</div>
            <div class="txt_bienvenida">{{db.bienvenida.infoBienvenida}}</div>
        </div>
        <div class="cj_imagen">
            <div class="img_dev"></div>
        </div>
    </div>
    <div class="enlaces_iconos">
        <a [href]="red.urlRed" *ngFor="let red of db.sobreMy.misRedes" target="_blank">
            <img class="redImg" [src]="red.urlImg" alt="">
        </a>
    </div>
</article>