name: Deploy Angular 18 to GitHub Pages

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: write    # ← ESTA LÍNEA ES CRÍTICA

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Angular app
        run: npm run build:prod

      - name: Configure Git identity
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Deploy to GitHub Pages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global url."https://git:${GH_TOKEN}@github.com/".insteadOf "https://github.com/"
          npm run deploy
